@import url('https://fonts.googleapis.com/css?family=Righteous');
button{
    /*padding: 150px 150px;*/
    position: relative;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    vertical-align: middle;
    background-color: orange;
    background-size: 6px;
    border-radius: 50px;
    padding: 10px;
}
button img {
    border-radius: 50px;
}
button:focus {
    background-color: blue;
}
.flex {
    display: flex;
}
.flex > div {
    width: 50%;
    padding: 30px;
    align-content: center;
}
.flex > div:first-child {
    margin-right: 5px;
    align-content: center;
}
.flex div button {
    margin-bottom: 10em;
}
h1 {
    text-align: center;
    color: orange;
    font-size: 12em;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
body {
    background-image: url(media/orangeyellow-background.jpg);
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup 
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}*/

/* Popup arrow 
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup 
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}*/

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}